<section id="curiosities">
    <div class="container">
      <h2 class="text-center">Mes <span class="underline">curiosités</span></h2>
      <div class="row">
        <div class="col-sm-3">
          <div class="item">
            <a href="images/mug.jpg" target="_blank">
              <img class="picture" alt="Un grand mug de lait pour bien commencer la journée" src="images/mug.jpg"></img>
            </a>
          </div>
          <h3>Joli mug</h3>
          <p>Reçu au Japon, lors d'un congrès interlitières</p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="images/bobine.png" target="_blank">
              <img class="picture" alt="La bobine ! La bobine !" src="images/bobine.png"></img>
            </a>
          </div>
          <h3>La bobine</h3>
          <p>Meilleur jeu ever</p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="images/christmas.jpg" target="_blank">
              <img class="picture" alt="ZzZzZz .." src="images/christmas.jpg"></img>
            </a>
          </div>
          <h3>Le coussin Hamburger</h3>
          <p>Il est sur ma liste pour Noel</p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="images/bonnet.jpg" target="_blank">
              <img class="picture" alt="Je ne l'aime pas" src="images/bonnet.jpg"></img>
            </a>
          </div>
          <h3>Le bonnet Lapin</h3>
          <p>C'est un cadeau pour mon beau frère, c'est un siamois ... je n'aime pas les siamois</p>
        </div> <!-- end .col-sm-3 -->
      </div> <!-- end .row -->
      <div class="row">
        <div class="col-sm-3">
          <div class="item">
            <a href="images/jeu-societe.jpeg" target="_blank">
              <img class="picture" alt="Catopoly" src="images/jeu-societe.jpeg"></img>
            </a>
          </div>
          <h3>Catopoly</h3>
          <p>Dommage, on ne peut pas y jouer seul .. </p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="images/marque-page.jpg" target="_blank">
              <img class="picture" alt="La prochaine fois que vous me croisez, vous saurez quoi faire .. " src="images/marque-page.jpg"></img>
            </a>
          </div>
          <h3>Marque-page</h3>
          <p>Il est beau.</p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="images/meilleur-ami.jpeg" target="_blank">
              <img class="picture" alt="Drago, mon ami" src="images/meilleur-ami.jpeg"></img>
            </a>
          </div>
          <h3>Drago</h3>
          <p>Mon meilleur ami</p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="images/carpet.jpg" target="_blank">
              <img class="picture" alt="Tapis pour acceuillir mes potentiels visiteurs" src="images/carpet.jpg"></img>
            </a>
          </div>
          <h3>Tapis d'entrée</h3>
          <p>Devant la future chatière</p>
        </div> <!-- end .col-sm-3 -->
      </div>
    </div> <!-- end .container -->
  
  </section>

