<section id="curiosities">
    <div class="container">
      <h2 class="text-center">Mes <span class="underline">curiosités</span></h2>
      <div class="row">
        <div class="col-sm-3">
          <div class="item">
            <a href="https://s-media-cache-ak0.pinimg.com/236x/4a/86/bf/4a86bfbf02b472e5b385762b8f267a91.jpg" target="_blank">
              <img class="picture" title="Un grand mug de lait pour bien commencer la journée" alt="Un grand mug de lait pour bien commencer la journée" src="https://s-media-cache-ak0.pinimg.com/236x/4a/86/bf/4a86bfbf02b472e5b385762b8f267a91.jpg"></img>
            </a>
          </div>
          <h3>Joli mug</h3>
          <p>Reçu au Japon, lors d'un congrès interlitières</p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="http://www.airoller.fr/cms/images/stories/articles/pelote_de_laine.jpg" target="_blank">
              <img class="picture" title="La bobine ! La bobine !" alt="La bobine ! La bobine !" src="http://www.airoller.fr/cms/images/stories/articles/pelote_de_laine.jpg"></img>
            </a>
          </div>
          <h3>La bobine</h3>
          <p>Meilleur jeu ever</p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="https://www.fifthsun.com/media/catalog/product/cache/1/image/1000x/a150d3402a4a7eeaf1a7d924d386d2d5/m/e/mens-stay-grumpy-grumpy-cat-t-shirt.jpg" target="_blank">
              <img class="picture" title="Vive moi" alt="Vive moi" src="https://www.fifthsun.com/media/catalog/product/cache/1/image/1000x/a150d3402a4a7eeaf1a7d924d386d2d5/m/e/mens-stay-grumpy-grumpy-cat-t-shirt.jpg"></img>
            </a>
          </div>
          <h3>LE tee-shirt</h3>
          <p>Il est sur ma liste pour Noel</p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="http://oddpad.com/wp-content/uploads/2015/11/cute-japanese-cat-scottish-fold-17-year-old-ura-1.jpg" target="_blank">
              <img class="picture" title="Je ne l'aime pas" alt="Je ne l'aime pas" src="http://oddpad.com/wp-content/uploads/2015/11/cute-japanese-cat-scottish-fold-17-year-old-ura-1.jpg"></img>
            </a>
          </div>
          <h3>Le bonnet Lapin</h3>
          <p>C'est un cadeau pour mon beau frère, c'est un siamois ... je n'aime pas les siamois</p>
        </div> <!-- end .col-sm-3 -->
      </div> <!-- end .row -->
      <div class="row">
        <div class="col-sm-3">
          <div class="item">
            <a href="https://s-media-cache-ak0.pinimg.com/236x/c9/f9/16/c9f91608fe96f1150b1f8a47c73a0f72.jpg" target="_blank">
              <img class="picture" title="Catopoly" alt="Catopoly" src="https://s-media-cache-ak0.pinimg.com/236x/c9/f9/16/c9f91608fe96f1150b1f8a47c73a0f72.jpg"></img>
            </a>
          </div>
          <h3>Catopoly</h3>
          <p>Dommage, on ne peut pas y jouer seul .. </p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="https://img1.etsystatic.com/103/1/7801041/il_214x170.843477875_7p24.jpg" target="_blank">
              <img class="picture" title="La prochaine fois que vous me croisez, vous saurez quoi faire .. " alt="La prochaine fois que vous me croisez, vous saurez quoi faire .. " src="https://img1.etsystatic.com/103/1/7801041/il_214x170.843477875_7p24.jpg"></img>
            </a>
          </div>
          <h3>Marque-page</h3>
          <p>Il est beau.</p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="https://pbs.twimg.com/media/CVLqAm8UsAA3loE.jpg" target="_blank">
              <img class="picture" title="Drago, mon ami" alt="Drago, mon ami" src="https://pbs.twimg.com/media/CVLqAm8UsAA3loE.jpg"></img>
            </a>
          </div>
          <h3>Drago</h3>
          <p>Mon meilleur ami</p>
        </div> <!-- end .col-sm-3 -->
        <div class="col-sm-3">
          <div class="item">
            <a href="https://s-media-cache-ak0.pinimg.com/236x/a0/c7/82/a0c782481c4ba7c4511c7daa849d540b.jpg" target="_blank">
              <img class="picture" title="Tapis pour acceuillir mes potentiels visiteurs" alt="Tapis pour acceuillir mes potentiels visiteurs" src="https://s-media-cache-ak0.pinimg.com/236x/a0/c7/82/a0c782481c4ba7c4511c7daa849d540b.jpg"></img>
            </a>
          </div>
          <h3>Tapis d'entrée</h3>
          <p>Devant la future chatière</p>
        </div> <!-- end .col-sm-3 -->
      </div>
    </div> <!-- end .container -->
  
  </section>

